<h1>Current Blog Posts</h1>

<div class="row">
	<% @blog_posts.each do |blog_post| %>  <!-- #blogpost array so we can iterate through each blog post. Getting access to each blogpost -->
<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= blog_post.title %> 
		</div>
		<div class="panel-body">
			by	<%= blog_post.author %><br/>
			<p><%= blog_post.blog_entry %></p>
		</div>
		<div class="panel-footer">
			<%= link_to 'Show', blog_post, class: "btn btn-primary" %> <!-- linked to blog post show page -->
			<%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-success" %> <!-- check rake routes: because we need to pass an id you add _path and pass it blogpost -->
			<%= link_to 'Delete', blog_post, method: :delete, data: { confirm: 'Are you sure you want to delete'}, class: "btn btn-danger" %> <!-- If you want to create, update or destroy you need to specify the http verb -->
		</div>
	</div>
</div>
	<% end %>
</div>
<br/>
<%= link_to 'New Post', new_blog_post_path, class: "btn btn-warning" %>